curl https://api.cohere.ai/compatibility/v1/chat/completions \
  -X POST \
  -H "Authorization: Bearer ${UNITYSVC_API_KEY}" \
  -H "Content-Type: application/json" \
  -d '{
    "model": "${MODEL:-{{offering.name}}}",
    "messages": [
      {
        "role": "user",
        "content": "Say this is a test and tell me a joke"
      }
    ]
  }'
